<div class="animatedroute">
    <!-- <ngx-loading [show]="loading" [config]="{ backDropBorderRadius: '14px'}"></ngx-loading> -->
    <div class="card">
        <div class="card-header">
          {{pageTitle}}
        </div>
        <div class="card-body">
          <div class="container-fluid">
            <div class="text-center">
              <img src="./assets/images/logo-cut.png"
                   class="img-responsive center-block"
                   style="padding-bottom:50px" />
            </div>

            <div class="text-center">Developed by:</div>
            <div class="text-center">
              <h3>Nisan Sabag</h3>
            </div>

            <div class="text-center">
              <a href="https://github.com/nisan250/">www.github.com/nisan250/</a>
            </div>
          </div>
        </div>
      </div>
</div>

